.chart-container {
  width: 100%;
  border: 20px;
  padding: 20px;
}
.visualize-button {
  float: right;
  margin: 5px;
  padding: 5px;
  border: 1px solid black ;
}
.select-dropdown {
  padding: 5px;
  margin: 5px;
}
